# Local development environment setup script for Windows PowerShell
.env_private

setup_local_dev_env.ps1
setup_local_private.ps1
setup_local_private_env.ps1
alunos.csv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask stuff:
instance/
session_files/

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignorar pastas geradas pelo aplicativo
flaskapp/instance/
flaskapp/photos_originals/
flaskapp/photos_thumbs/
